body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  word-wrap: break-word;
}

.box {
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
}

.book-img {
  width: 325px;
  max-width: 100%;
  padding: 5px;
  background: #f2f2f2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 10px;
}
.book-img-2 {
  width: 125px;
  max-width: 100%;
  padding: 5px;
  background: #f2f2f2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 10px;
}

#results-list, #mybooks-list{
  margin: 0px;
  padding: 0px;
}
#results-list > li, #mybooks-list > li {
  list-style: none;
  padding: 10px;
  margin-bottom: 5px;
}

#mybooks-list > li > div.row {
  padding-top: 10px;
  cursor: pointer;
}

#mybooks-list > li > div.row:hover {
  background: lightgrey;
}

#top-text {
  margin: 0px;
  padding: 20px;
  color: white;
  background: black;
}

#msg-popup-container {
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}
#msg-popup {
  display: block;
  margin: auto;
  max-width: 95%;
  padding: 15px;
  text-align: center;
  background: grey;
  color: white;
  font-weight: bold;
  width: 215px;
  border-radius: 7px;
  box-shadow: 0px 1px 7px black;
  z-index: 1000;
}

#bta {
  position: fixed;
  width: 50px;
  height: 50px;
  cursor: pointer;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}
#bta:hover {
  opacity: 0.5;
}

.max-w {
  max-width: 95%;
}

.ghost {
  visibility: hidden;
  opacity: 0;
  z-index: -1000;
}
