<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Bookabuku | Search</title>

	<link rel="stylesheet" href='theme/css/style.min.css' />
	<link rel="stylesheet" type="text/css" href="theme/css/style.css" />
	<link rel="stylesheet" type="text/css" href="theme/css/bootstrap-grid.css" />
	<link rel="icon" type="image/png" size="20x20" href="book.png" />

	<script src="js/jquery.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/script.js"></script>

	<script>
		$(document).ready(function() {
		$('#bta').click(function() {
			$('html, body').animate({
			scrollTop: 0 // $("#sdl").offset().top
			}, 1000);
		});
		});
	</script>

</head>
<body ng-app="bookApp" ng-controller="masterCtrl">
	<!-- navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="./index.html" class="navbar__logo">Bookabuku</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="./index.html">Home</a></li>
						<li><a href="./auth.html">Logout</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>

	<!-- Hero unit -->
	<div class="page__header">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="page__header__inner">
			<div class="container">
				<div class="page__header__content">
					<div class="page__header__content__inner" id='navConverter'>
						<h1 class="page__header__title">Bookabuku - Google Books</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<img id="bta" class="transition" title="back To Top" src="images/up-arrow.png" />


	<!-- Page content -->
	<div class="page">
			<div class="container">
				<div class="page__inner">
					<div class="page__menu">
						<div class="container-fluid" style="padding-top: 15px;">
							<div class="row">
									<div class="box">
										<div id="search-box">
										<h3 class="text-center">Search For Books</h3>
										<input type="text" class="middlr transition max-w" placeholder="Title or category" ng-model="query" />
										<br/>
										<p class="text-center"><a class="button button__accent" ng-click="searchBooks()">Submit</a></p>
										<p class="text-center"><a class="button button__primary" ng-click="clearResults()">Clear Results</a></p>
										<br>
										<p class="text-center" id="msg"></p>
										</div>
							
										<div id="loading-box" style="display: none;">
										<img class="middlr" src="images/Loading_icon.gif" width="175px" />
									</div>
									</div>
								</div>
						</div>
					</div>
				
				<div class="page__main">
					<div class="text-container">
					<div class="box">
						<div id="results-box">
						<h3 class="text-center">Results</h3>
						<p class="text-center" id="query"></p>
						<hr/>
						<ul id="results-list">
							<li ng-repeat="book in results_books">
							<div id="{{ book.id }}" data-etag="{{ book.etag }}" class="row">
								<div class="col-md-4">
								<img class="book-img" src="{{ book.volumeInfo.imageLinks.thumbnail }}" />
								</div>
								<div class="col-md-8">
								<h4>
									<strong>
										<a title="{{ book.volumeInfo.title }}" href="{{ book.volumeInfo.canonicalVolumeLink }}">
										{{ book.volumeInfo.title }}
										</a>
									</strong>
									</h4>
								<p><strong>By</strong>: <em>{{ book.volumeInfo.authors[0] }}</em></p>
								<p>{{ book.volumeInfo.description }}</p>
								<br/>
								<p><strong>Published</strong>: {{ book.volumeInfo.publishedDate }}</p>
								<p><strong>Maturity Rating</strong>: {{ book.volumeInfo.maturityRating }}</p>
								<p><strong>Buy</strong>: <a title="Buy Link" href="{{  book.saleInfo.buyLink }}">{{  book.saleInfo.buyLink }}</a></p>
								<br/>
								</div>
							</div>
							<hr/>
							</li>
						</ul>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src='theme/js/app.min.js'></script>
</body>
</html>